# Fetch.ai Data Agent name
AGENT_NAME="coinbasket-data-agent"
# Fetch.ai Agent Seed
AGENT_SEED=
AGENT_PORT=22222
# Agent Key used by the agent clients to connect to the Data Agent
AGENT_KEY=

# Dockerized Qdrant API Key for vector database access
QDRANT_API_KEY="405267c7-2dfb-43e6-bacf-97b1a66702d1"
# Dockerized Qdrant Collection Name
QDRANT_COLLECTION="datasets"
# Dockerized Qdrant URL
QDRANT_URL="http://localhost"
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

# Only Open AI is supported for now
# https://platform.openai.com/api-keys
EMBEDDING_PROVIDER_API_KEY=
EMBEDDING_PROVIDER_MODEL="text-embedding-3-small"

# CoinGecko API Configuration
# https://www.coingecko.com/en/api
COINGECKO_BASE_URL="https://api.coingecko.com/api"
COINGECKO_API_KEY=""