# Global
.env
.env.local
.env.production

# NX
node_modules
.nx/installation
.nx/cache
.nx/workspace-data
package-lock.json

# Python
.cache
.python-version
.pytest_cache
.ruff_cache
.venv
__pycache__

# Invest Agent database. Keep the structure but ignore contents.
invest_agent/database/*

!invest_agent/database/production/
!invest_agent/database/development/
!invest_agent/database/test/

invest_agent/database/production/*
invest_agent/database/development/*
invest_agent/database/test/*

!invest_agent/database/production/.gitkeep
!invest_agent/database/development/.gitkeep
!invest_agent/database/test/.gitkeep