# Global
.env
.env.local
.env.production

# NX
node_modules
.nx/installation
.nx/cache
.nx/workspace-data
package-lock.json

# Python
.cache
.python-version
.pytest_cache
.ruff_cache
.venv
__pycache__

# API database. Keep the structure but ignore contents.
api/database/*

!api/database/production/
!api/database/development/
!api/database/test/

api/database/production/*
api/database/development/*
api/database/test/*

!api/database/production/.gitkeep
!api/database/development/.gitkeep
!api/database/test/.gitkeep