AGENT_NAME=
AGENT_SEED=
AGENT_PORT=
AGENT_KEY=

DATA_AGENT_ADDRESS=
DATE_AGENT_KEY=

BSC_BASE_TOKEN_NAME=
BSC_BASE_TOKEN_DISPLAY_NAME=
BSC_BASE_TOKEN_TICKER=
BSC_BASE_TOKEN_ADDRESS=

BSC_RPC_URL=
BSC_PRIVATE_KEY=

LANGSMITH_TRACING=
LANGSMITH_API_KEY=

PANCAKESWAP_PERMIT2_CONTRACT_ADDRESS=
PANCAKESWAP_UNIVERSAL_ROUTER_ADDRESS=
PANCAKESWAP_V2_ROUTER_ADDRESS=

OPENAI_API_KEY=

## LOCAL DEVELOPMENT ONLY

GANACHE_FORK_URL=
GANACHE_MNEMONIC=