# Agent Environment. Use "development" for local development and "production" for production environment.
AGENT_ENV="production"
# Fetch.ai Invest Agent Name
AGENT_NAME="coinbasket-invest-agent"
# Fetch.ai Agent Seed
AGENT_SEED=
AGENT_PORT=11111
# Agent Key used by the agent clients to connect to the Invest Agent
AGENT_KEY=

# Fetch.ai Data Agent Address. This Address is printed by the Data Agent when it starts.
DATA_AGENT_ADDRESS=
# It should match AGENT_KEY of the Data Agent .env file
DATA_AGENT_KEY=
# Data Agent URL. This is the URL where the Data Agent is running.
DATA_AGENT_URL="http://127.0.0.1:22222/"

# Get and RPC URL from Ankr or any other BSC RPC provider
# https://www.ankr.com/
BSC_RPC_URL=
# Agent private key on BSC
BSC_PRIVATE_KEY=
BSC_CHAIN_ID=56

# Postgresql database to use to store current portfolio data
DATABASE_USER="coinbasket"
DATABASE_PASSWORD=
DATABASE_HOST="localhost"
DATABASE_PORT=5432

# Langchain thread ID for the agent. You can use this value to create several conversations and baskets with the same agent.
LANGCHAIN_THREAD_ID="1"

# Set to false if you don't use langsmith tracing
LANGSMITH_TRACING=false
# Use link below to get your API key
# https://smith.langchain.com/
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="coinbasket-invest-agent"

# Set to empty string if you don't use pancakeswap universal router
PANCAKESWAP_PERMIT2_CONTRACT_ADDRESS=""
# Set to empty string if if you don't use pancakeswap universal router
PANCAKESWAP_UNIVERSAL_ROUTER_ADDRESS=""
# Set to empty string if if you don't use pancakeswap universal router
PANCAKESWAP_V2_ROUTER_ADDRESS=""

# Chat provider among providers supported by Langchain
CHAT_PROVIDER="openai"
CHAT_MODEL="gpt-4o-mini"
# https://platform.openai.com/api-keys
CHAT_PROVIDER_API_KEY=

# Fee integrator address. This is the address that will receive the fee for the 0x transactions.
FEE_INTEGRATOR_ADDRESS="0x4bfAdf1A662Da1F7087D7521aa9163E416FB1A51"
# Fee value in percentage. This is the fee that will be charged for the 0x transactions.
FEE_VALUE_IN_PERCENTAGE="0.15"

# Use link below to get your API key
# https://dashboard.0x.org/
ZERO_X_API_KEY=
# https://dashboard.0x.org/
ZERO_X_API_URL="https://api.0x.org"

## LOCAL DEVELOPMENT ONLY

# Dockerized Anvil BSC Fork URL
ANVIL_FORK_URL=
# Dockerized Anvil mnemonic for the BSC fork accounts
ANVIL_MNEMONIC="sign zoo fun give drum avocado case sausage salt silk phone require"
ANVIL_CHAIN_ID=56

# Dockerized Redoc port
REDOC_PORT=11112

PYTEST_ANYIO_BACKEND=asyncio