AGENT_NAME=
AGENT_SEED=
AGENT_PORT=
AGENT_KEY=

DATA_AGENT_ADDRESS=
DATE_AGENT_KEY=
DATA_AGENT_URL=

BSC_BASE_TOKEN_NAME=
BSC_BASE_TOKEN_DISPLAY_NAME=
BSC_BASE_TOKEN_TICKER=
BSC_BASE_TOKEN_ADDRESS=

BSC_RPC_URL=
BSC_PRIVATE_KEY=

LANGSMITH_TRACING=
LANGSMITH_API_KEY=

PANCAKESWAP_PERMIT2_CONTRACT_ADDRESS=
PANCAKESWAP_UNIVERSAL_ROUTER_ADDRESS=
PANCAKESWAP_V2_ROUTER_ADDRESS=

OPENAI_API_KEY=

ZERO_X_API_KEY=
ZERO_X_API_URL=


## LOCAL DEVELOPMENT ONLY

ANVIL_FORK_URL=
ANVIL_MNEMONIC=