NEXT_PUBLIC_APP_NAME="coinbasket"
NEXT_PUBLIC_APP_MODE="live"
NEXT_PUBLIC_APP_LIVE_URL="https://www.coinbasket.ai"
NEXT_PUBLIC_APP_DEMO_URL="https://demo.coinbasket.ai"
NEXT_PUBLIC_API_URL="https://api.coinbasket.ai"
NEXT_PUBLIC_PORTFOLIO_TOKEN_NAME="Tether USD"
NEXT_PUBLIC_PORTFOLIO_TOKEN_DISPLAY_NAME="Tether USD"
NEXT_PUBLIC_PORTFOLIO_TOKEN_TICKER="USDT"
NEXT_PUBLIC_PORTFOLIO_TOKEN_SYMBOL="$"
NEXT_PUBLIC_PORTFOLIO_TOKEN_ID="bsc:0x55d398326f99059ff775485246999027b3197955"
NEXT_PUBLIC_PORTFOLIO_TOKEN_ADDRESS="0x55d398326f99059ff775485246999027b3197955"
NEXT_PUBLIC_PORTFOLIO_TOKEN_DECIMALS="18"
NEXT_PUBLIC_REPOSITORY_URL="https://github.com/mehdidotcafe/coinbasket"
NEXT_PUBLIC_CACHE_VERSION="1"
# https://www.ankr.com/rpc/home/
NEXT_PUBLIC_BSC_RPC_URL="https://bsc-dataseed.binance.org"

NEXT_PUBLIC_GITHUB_URL="https://github.com/mehdidotcafe/coinbasket"
NEXT_PUBLIC_X_URL="https://x.com/coinbasketai"
NEXT_PUBLIC_0X_PROTOCOL_URL="https://0x.org"
NEXT_PUBLIC_BNB_CHAIN_URL="https://www.bnbchain.org"
NEXT_PUBLIC_MEHDIDOTCAFE_URL="https://www.mehdi.cafe"