# App Environment. Use "development" for local development and "production" for production environment.
APP_ENV="production"
APP_NAME="coinbasket"
APP_PORT=11111
APP_DOMAIN="localhost"
# App Secret Key used to sign the JWT tokens
APP_SECRET_KEY=

# Frontend URL to allow CORS requests from
FRONTEND_URL="http://localhost:3000,http://localhost:11112"

# Get and RPC URL from Ankr or any other BSC RPC provider
# https://www.ankr.com/
BSC_RPC_URL=
BSC_CHAIN_ID=56

# Postgresql database to use to store current portfolio data
DATABASE_USER="coinbasket"
DATABASE_PASSWORD=
DATABASE_HOST="localhost"
DATABASE_PORT=5432

# Dockerized Qdrant API Key for vector database access
QDRANT_API_KEY="405267c7-2dfb-43e6-bacf-97b1a66702d1"
# Dockerized Qdrant Collection Name
QDRANT_COLLECTION="datasets"
# Dockerized Qdrant URL
QDRANT_URL="http://localhost"
QDRANT_PORT=6333
QDRANT_GRPC_PORT=6334

# Only Open AI is supported for now
# https://platform.openai.com/api-keys
EMBEDDING_PROVIDER_API_KEY=
EMBEDDING_PROVIDER_MODEL="text-embedding-3-small"

# Set to false if you don't use langsmith tracing
LANGSMITH_TRACING=false
# Use link below to get your API key
# https://smith.langchain.com/
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT="coinbasket-invest-agent"

# CoinGecko API Configuration
# https://www.coingecko.com/en/api
COINGECKO_BASE_URL="https://api.coingecko.com/api"
COINGECKO_API_KEY=""

# Set to empty string if you don't use pancakeswap universal router
PANCAKESWAP_PERMIT2_CONTRACT_ADDRESS=""
# Set to empty string if if you don't use pancakeswap universal router
PANCAKESWAP_UNIVERSAL_ROUTER_ADDRESS=""
# Set to empty string if if you don't use pancakeswap universal router
PANCAKESWAP_V2_ROUTER_ADDRESS=""

# Chat provider among providers supported by Langchain
CHAT_PROVIDER="openai"
CHAT_MODEL="gpt-5-mini-2025-08-07"
# https://platform.openai.com/api-keys
CHAT_PROVIDER_API_KEY=

# Fee integrator address. This is the address that will receive the fee for the 0x transactions.
FEE_INTEGRATOR_ADDRESS="0x4bfAdf1A662Da1F7087D7521aa9163E416FB1A51"
# Fee value in percentage. This is the fee that will be charged for the 0x transactions.
FEE_VALUE_IN_PERCENTAGE="0.15"

# Small balance lower than this USD Threshold will be hidden from portfolio
SMALL_BALANCE_USD_THRESHOLD="0.01"

# Use link below to get your API key
# https://dashboard.0x.org/
ZERO_X_API_KEY=
# https://dashboard.0x.org/
ZERO_X_API_URL="https://api.0x.org"


## LOCAL DEVELOPMENT ONLY

# Dockerized Anvil BSC Fork URL
ANVIL_FORK_URL=
# Dockerized Anvil mnemonic for the BSC fork accounts
ANVIL_MNEMONIC="sign zoo fun give drum avocado case sausage salt silk phone require"
ANVIL_CHAIN_ID=56

# Dockerized Redoc port
REDOC_PORT=11112

PYTEST_ANYIO_BACKEND=asyncio
# Workaround to force python to not buffer output logs of the worker when started with dev:all or start:all commands
PYTHONUNBUFFERED=1